/* Using 2 Google fonts, Rampart One for the logo and Fredoka for the rest of game */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Rampart+One&display=swap');

/* Apply default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

/* Global styles */
body {
    font-family: Fredoka, sans-serif;
    color: royalblue;
}

h1 {
    font-family: Rampart One, sans-serif;
    font-size: 2rem;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 1rem 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.game-buttons {
    text-align: center;
}

button {
    font-size: 2rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.2);
}

/* Navigation bar */
nav {
    background-color: lightyellow;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    text-align: center;
}

nav a:hover {
    color: orange;
}

.social-media-link {
    font-size: 1.5rem;
}

/* Game rules section styles */

.rules {
    text-align: center;
}

.rules ul {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* Play section styles */
.message p {
    text-align: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* Result section styles */
.outcome p {
    text-align: center;
}

.computer-paragraph {
    margin-bottom: 1rem;
}

.outcome span {
    font-weight: bold;
    color: orangered;
}