/* Using 2 Google fonts, Rampart One for the logo and Fredoka for the rest of game */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Rampart+One&display=swap');

/* Apply default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

/* Global styles */
body {
    font-family: Fredoka, sans-serif;
    color: darkblue;
    background-color: #f0f8ff;
}

#title {
    margin: 0;
}

h1 {
    font-family: Rampart One, sans-serif;
    font-size: 2rem;
    color: #ff4500;
}

h1,
h2,
h3 {
    text-align: center;
    margin-top: 1rem;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.game-buttons {
    text-align: center;
}

button {
    font-size: 2rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f0f8ff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.2);
    background-color: #ffffe0;
}

/* Navigation bar */
nav {
    background-color: #ffffe0;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    text-align: center;
}

nav a:hover {
    color: #ff4500;
}

.social-media-link {
    font-size: 1.5rem;
}

@media screen and (max-width: 220px) {
    nav ul {
        display: initial;
    }
}

/* Game rules section styles */

.rules {
    text-align: center;
}

.rules ul {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.rules p {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* Play section styles */
.message p {
    text-align: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* Result section styles */

.outcome-heading {
    margin-top: 0;
}

.outcome p {
    text-align: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.outcome span {
    color: #ff4500;
}

.reset-button-div {
    text-align: center;
}

#reset-button {
    font-size: 1rem;
    color: #ff4500;
    font-family: inherit;
}