/* Using 2 Google fonts, "Rampart One" for the logo and "Fredoka" for the rest of game */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Rampart+One&display=swap');

/* Universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: "Fredoka", sans-serif;
    color: #00008B;
    background-color: #f0f8ff;
}

/* Creating some padding at the bottom of the <main> element to prevent the lower elements from overlapping underneath the footer element when the game is displayed on screens that are maximally 380 px wide. */
@media screen and (max-width: 380px) {
    main {
        padding-bottom: 5rem;
    }
}

.header-styles {
    background-color: #ffffe0;
}

h1 {
    font-family: "Rampart One", sans-serif;
    font-size: 2rem;
    color: #ff4500;
    padding: 1rem;
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ff4500;
}

.game-buttons {
    text-align: center;
}

/* Buttons' styles */
button {
    font-size: 2rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f0f8ff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.2);
    background-color: #ffffe0;
}

/* Styling of game rules' section */
.rules {
    text-align: center;
}

p {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-align: center;
}

/* Play section's styles (including a media query for smartphones that are maximally 260 px wide)  */
@media screen and (max-width: 260px) {
    #scissors-button {
        margin-top: 0;
    }
}

/* Result section's styles */
.outcome-heading {
    margin-top: 0;
}

.outcome span {
    color: #ff4500;
}

.reset-button-div {
    text-align: center;
}

#reset-button {
    font-size: 1rem;
    color: #ff4500;
    font-family: inherit;
    margin: 0.5rem;
    display: none;
}

/* footer */

nav {
    background-color: #ffffe0;
    padding: 1rem;
}

/* fixing the footer at the bottom of the webpage to prevent it from sliding upwards. */
.footer-place {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #ffffe0;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 1rem;
}

li {
    text-align: center;
}

.social-media-link {
    font-size: 1.5rem;
}